html, body {
    margin: 0;
    padding: 0;
    
}
body{
    background-color:#1B1924;
    max-width: 390px;
    min-height:844px;
    text-align: center;
    color:white;
    font-family:josefin sans;
}

#lol{
    background-color:#1B1924;
    width:0.1%;
    line-height: 1px;
    border:none;
}
img{
    width:90px;
}
#input-el{
    width:317px;
    line-height:118px;
    background-color:#444059;
    border-radius:6px;
    border:none;
}
button{
    margin-top:24px;
    width:317px;
    height:50px;
    border:none;
    border-radius:6px;
    background-color:#28A9F1;
    font-size:22px;
    font-weight:bold;
    margin-bottom:0px;
}
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    
}
li{
    min-height:50px;
    list-style: none;
    background-color:#FFFFFF;
    max-width:285px;
    margin:auto;
    padding:13px 15px;
    text-align:left;
    font-size:12px;
    color:black;
    min-width:317px;
    border-radius:6px;
}